@import "~bootstrap/scss/bootstrap.scss";

body {
    font-size: 70px;
    color: white;
    background-color: rgb(7,7,7);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div.col {
    background-color:rgb(28, 28, 28);
    border-radius: 5px;
    text-align: center;
    width: auto;
    flex: 0 0 auto;
    margin-inline: 10px;
    padding-inline: 1.5rem;
}
.button--wrapper {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    
    & > * {
        border: none;
        background-color: white;
        box-shadow: 0px 0px 7px rgb(85, 85, 85);
        font-size: 1.3rem;
        color: rgb(7,7,7);
        border-radius: 50%;
        width: 6rem;
        height: 6rem;
        outline: none;
        transition: background-color 250ms ease-in-out, transform 50ms ease-in-out;
        
        &:hover {
            background-color: rgb(230, 230, 230);
        }
        &:active {
            transform: scale(0.9);
        }
        &:focus {
            background-color: rgb(124, 240, 255);
        }
    }
}
@media screen and (max-width: 772px) {
    div.col {
        margin-inline: 4px;
        padding-inline: 0.8rem;
        font-size: 35px;
    }
    .button--wrapper > * {
        font-size: 1rem;
        width: 4rem;
        height: 4rem;
    }
}